<!DOCTYPE html>
<html>
<head>
  <title>Projekts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= image_tag asset_path("dream.jpg"), width: 960, height: 200%>
    <%= yield %>
  </div>

</body>
</html>
